:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grey-blue: hsl(228, 12%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--cream);
  max-height: 100vh;
  display: grid;
  grid-template-columns: 4fr 6fr 4fr;
  grid-template-rows: 175fr 450fr 175fr;
  font-family: "Montserrat", serif;
}

p {
  font-size: 14px;
}

h1,
.current-price {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.current-price {
  color: var(--dark-cyan);
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.product-type,
.product-description {
  color: var(--grey-blue);
}

#container {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem;
}

#product-image {
  border-radius: 1rem 0 0 1rem;
  height: 100%;
  width: 100%;
  background-color: white;
}

img {
  object-fit: cover;
}

#product-info {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
}

.cart-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--dark-cyan);
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.old-price {
  color: var(--grey-blue);
  text-decoration: line-through;
}

@media (max-width: 960px), (orientation: portrait) {
  body {
    display: flex;
    max-height: 100vh;
    margin: 1rem;
    overflow: hidden;
  }
  #container {
    align-self: center;
    flex-direction: column;
    max-height: calc(100vh - 2rem);
    width: 100%;
    border-radius: 1rem;
  }
}
